/** @format */

@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

@import "tailwindcss";

@theme {
  --font-Comic: "Comic Neue", "cursive";
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
  /* --text-color: #636b14; */
  --text-color: #636b74;
  --heading-color: #0c0d0e;
}

@layer base {
  h1 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.1;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.375;
  }
  h3 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.375;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.3;
    color: var(--text-color);
  }
  strong {
    color: var(--heading-color);
  }
}
